name: Publish / Update Hashnode Posts

on:
  push:
    branches: ['**']
    paths:
      - 'posts/**/*.md'
  pull_request:
    branches: ['**']
    paths:
      - 'posts/**/*.md'

jobs:
  publish-to-hashnode:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    env:
      HASHNODE_TOKEN: ${{ secrets.HASHNODE_TOKEN }}
      HASHNODE_PUBLICATION_ID: ${{ secrets.HASHNODE_PUBLICATION_ID }}
      HASHNODE_GQL_ENDPOINT: https://gql.hashnode.com
      HASHNODE_HOST: linux-network.hashnode.dev

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0  # full history to ensure git diff works

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install deps
        run: |
          python -m pip install --upgrade pip
          if [ -f "scripts/requirement.pip" ]; then
            echo "Found scripts/requirement.pip, installing packages from file..."
            pip install -r scripts/requirement.pip
          else
            echo "No requirement file found, installing default packages..."
            pip install pyyaml requests
          fi

      - name: Get changed files
        id: changed-files
        uses: tj-actions/changed-files@v34
        with:
          files: "posts/**/*.md"

      - name: List new and updated posts
        run: |
          echo "New posts:"
          echo "${{ steps.changed-files.outputs.added_files }}"
          
          echo "Updated posts:"
          echo "${{ steps.changed-files.outputs.modified_files }}"

      - name: Publish to Hashnode
        uses: kodelint/publish-to-hashnode@v1.0.1
        with:
          src: "./posts"
          hashnode_pat: ${{ env.HASHNODE_TOKEN }}
          publication_id: ${{ env.HASHNODE_PUBLICATION_ID }}
          post_status: "public"
          update_existing_posts: "true"
